<div>
  <section class="blue-gradient-background intro-splash splash">
    <div class="container center-all-container">
      <h1 class="white light splash-title">
        Angular 2 Realtime Twitter Feed
      </h1>

      <p class="white light splash-subtitle">
        Displaying live tweets using Angular 2, Pusher, and Google Maps.
      </p>

      <div id="search-form">
        <form (ngSubmit)="newSubscription()">
          <input class="swish-input" [(ngModel)]="newSearchTerm" placeholder="JavaScript" />
          <button class="bright-blue-hover btn-white">Search</button>
        </form>
      </div>
    </div>
  </section>

  <section>
    <div class="container tweets-container">
      <div id="channels-list">
        <div class="channel" *ngFor="#channel of channels">
          <h3 class="white light">
            <img class="twitter-icon" src="src/img/twitter.png" width="30" />
            Tweets for {{ channel.term }}
          </h3>
          <div id="subscription-controls">
            <button class="btn-white secondary" (click)="toggleSearch(channel)">
              {{channel.active ? 'Stop' : 'Restart'}} Stream
            </button>
            <button class="btn-white secondary" (click)="clearSearch(channel)">
              Remove Results
            </button>
          </div>
          <subscription [search]="channel" [pusher]="pusher"></subscription>
        </div>
      </div>
    </div>
  </section>


</div>
